<div id="message_view">
	<div class="list-group" id="messages">
	</div>
</div>
<div id="current_gifs">
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
	<input type="file" accept="video/*" capture="camcorder" class="btn btn-default navbar-btn" id="video_reply">
	  <span class="glyphicon glyphicon-facetime-video"></span>Add Emoji GIF
	</button>
  </div>
</nav>
